

<div class="col">
  <h1>Dashboard</h1>
<app-date-filter class="d-flex justify-content-end mb-4" (dateFilterChanged)="filterExpenses($event)"></app-date-filter>

  <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
    <!-- Card 1 -->
    <div class="col position-relative">
      <div class="card h-100">
        <div class="card-body position-relative">
          <button
            type="button"
            class="btn btn-sm position-absolute top-0 end-0 m-2"
            (click)="abrirModalEditarReceita()"
            title="Editar receita"
          >
            <img src="edit.svg" alt="Editar" style="width: 20px; height: 20px" />
          </button>
    
          <h6 class="card-title">Receitas Totais</h6>
          <div class="income-input">
            <h2 class="fw-bold text-success m-0">R$ {{ receitaTotal }}</h2>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h6 class="card-title">Despesas Totais</h6>
          <h2 class="fw-bold text-danger">R$ {{ despesasTotal }}</h2>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h6 class="card-title fs-7">Saldo Atual</h6>
          <h2 class="fw-bold text-primary fs-1">R$ {{ saldoAtual }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-wrap gap-2">
  <div 
    *ngFor="let categoria of categorias" 
    class="px-3 py-2 rounded-pill text-white fw-semibold"
    [ngStyle]="{
      backgroundColor: getCategoriaColor(parseFloat(categoria.limit) - (categorySpendingMap[categoria.id] || 0))
    }"
    style="font-size: 0.85rem;"
  >
    {{ categoria.name }} = R$ {{
      parseFloat(categoria.limit) - (categorySpendingMap[categoria.id] || 0)
    }}
  </div>
</div>


<div class="col" *ngIf="!isLoading; else loadingTemplate">
  <div class="mb-4 d-flex justify-content-end align-items-center">
    <button type="button" routerLink="/expense-form" class="btn-primary">
      Adicionar
    </button>
  </div>

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col" *ngFor="let expense of filteredExpenses; let i = index; trackBy: trackByKey">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ expense.title }}</h5>
          <h2 class="fw-bold">R$ {{ expense.price }}</h2>

          <div class="d-flex justify-content-end align-items-center gap-2 mt-2">
            <app-category [categoryId]="expense.category"></app-category>
            <label for="">{{expense.date}}</label>
            <button
              type="button"
              class="btn-edit d-flex justify-content-center align-items-center"
              *ngIf="expense.key !== undefined"
              (click)="editExpense(expense.key)"
            >
              <img src="edit.svg" alt="" />
            </button>
            <button
              type="button"
              class="btn-delete d-flex justify-content-center align-items-center"
              *ngIf="expense.key !== undefined"
              (click)="removeExpense(expense.key)"
            >
              <img src="delete.svg" alt="" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingTemplate>
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
    </div>
  </div>
</ng-template>