<div class="vh-100">
    <div class="">
        <h4>Expense Form</h4>
          <form [formGroup]="expenseForm" (submit)="onSubmit()">
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" class="form-control" id="price" placeholder="Price" formControlName="price">
                @if(expenseForm.get('price')?.hasError('required') && expenseForm.get('price')?.touched){
                    <div class="form-text text-danger fw-bold">Price is required</div>
                }
            </div>
              <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Title" formControlName="title">
                @if(expenseForm.get('price')?.hasError('required') && expenseForm.get('price')?.touched){
                    <div class="form-text text-danger fw-bold">Title is required</div>
                }  
            </div>
              <div class="mb-3">
                <label for="category" class="form-label">Categoria</label>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categoria
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Saúde</a>
                    <a class="dropdown-item" href="#">Alimentação</a>
                    <a class="dropdown-item" href="#">Educação</a>
                  </div>
                </div>
                <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="category"></textarea> -->
              </div>
              <button type="submit" class="btn-primary">Save changes</button>
          </form>
    </div>
</div>
