<div class="sidebar d-flex flex-column vh-100">
  <div class="sidebar-header p-3">
    <a
      href=""
      class="d-flex align-items-center justify-content-center mb-md-0 me-md-auto link-dark text-decoration-none"
    >
      <img src="logo.svg" alt="" />
    </a>
  </div>
  <ul class="nav flex-column flex-grow-1">
    <div>
      <li class="nav-item">
        <a
          routerLink="/dashboard"
          class="nav-link text-white d-flex justify-content-start align-items-center gap-2"
          routerLinkActive="nav-link-active"
        >
          <img src="dash.svg" alt="" />
          Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/transactions"
          href="#"
          class="nav-link text-white d-flex justify-content-start align-items-center gap-2"
        >
          <img src="chart.svg" alt="" />
          Relatórios</a
        >
      </li>
    </div>
    <div class="flex-column-reverse mt-auto">
      <li class="nav-item">
        <a
          routerLink="/configurations"
          href="#"
          class="nav-link text-white d-flex justify-content-start align-items-center gap-2"
        >
          <img src="profile.svg" class="ms-1" alt="" />
          Configurações</a
        >
      </li>
      <li class="nav-item">
        <a
          href="#" (click)="authService.logout()"
          class="nav-link text-white d-flex justify-content-start align-items-center gap-2"
        >
          <img src="logout.svg" alt="" />
          Sair</a
        >
      </li>
    </div>
  </ul>
</div>
