@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "bootstrap/scss/bootstrap";

body {
  font-family: "Roboto", sans-serif;
}

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 230px;
  height: 100vh;
  z-index: 1000;
  box-shadow: 9px 0 10px rgba(0, 0, 0, 0.2);
}

.content {
  margin-left: 230px; 
  width: calc(
    100% - 230px
  ); 
  padding: 20px; 
}

.bg-sidebar {
  background-color: #1f2633;
}

.bg-sidebar-button {
  background-color: #3f4d67;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  padding: 15px 20px; 
}

.nav-link:hover,
.nav-link-active {
  background-color: #0e1218;
  border-left: 4px solid #1dd5d2;
}

.card {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  min-width: 250px; /* Evita que os cards fiquem muito pequenos */
  flex-grow: 1; /* Permite que os cards ocupem espaço proporcionalmente */
}

.row {
  display: flex;
  flex-wrap: wrap; /* Permite quebra de linha em telas menores */
  justify-content: center; /* Centraliza os cards */
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.btn-primary {
  background-color: #189E9C;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #127B7A;
  border: none;
}

.btn-delete,
.btn-edit {
  padding: 6px 6px;
  background-color: #e4e4e4;
  border: none;
  border-radius: 40px;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.btn-delete:hover,
.btn-edit:hover,
.btn-delete:active,
.btn-edit:active {
  background-color: #d4d4d4;
  border: none;
}

/* Ajusta os cards em telas menores */
@media (max-width: 768px) {
  .col-12.col-sm-2 {
    flex: 0 0 100%; /* Cada card ocupa a largura total */
    max-width: 100%;
  }

  .card {
    width: 90%; /* Reduz a largura dos cards para melhor ajuste */
    margin: 0 auto; /* Centraliza os cards */
  }

  .card-body h2 {
    font-size: 1.5rem; /* Reduz tamanho do preço */
  }
}

/* Ajusta para telas menores que 480px */
@media (max-width: 480px) {
  .card {
    width: 100%; /* Faz os cards ocuparem toda a largura */
  }

  .btn-primary {
    font-size: 14px;
    padding: 8px 16px;
  }
}
.auth-container {
  background-color: #f8fbfe;
}

a{
  text-decoration: none;
  color: #0e1218;
}

.text-primary {
  color: #189E9C !important;
}
