<div class="login-container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow p-4 login-card">
      <div class="text-center m-2">
          <img src="logo.svg" alt="Logo" />
      </div>
      <h2 class="text-center">Login</h2>

      <form (ngSubmit)="login()">
          <div class="mb-3">
            <input
            placeholder="E-mail"
            type="email"
            class="form-control"
            id="email"
            [(ngModel)]="email"
            name="email"
            required
          />
        </div>
          <div class="mb-3" *ngIf="!forgotPasswordMode">
            <input
            placeholder="Senha"
            type="password"
            class="form-control"
            id="password"
            [(ngModel)]="password"
            name="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary w-100 my-2">
            {{ forgotPasswordMode ? 'Enviar' : 'Entrar' }}
          </button>
          <button *ngIf="!forgotPasswordMode"
            type="button"
            (click)="toggleForgotPassword()"
            class="btn btn-link w-100 text-center"
          ><b>Esqueci minha senha</b>
          </button>
      </form>
      <div class="text-center">
          <a href="/register" class="text-decoration-none mt-3">
              Ainda não tem uma conta? <strong>Registrar</strong>
          </a>
      </div>
  </div>
</div>