<div class="register-container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow p-4 register-card">
    <div class="text-center m-2">
      <img src="logo.svg" alt="Logo" />
    </div>
    <h2 class="text-center">Cadastro</h2>

    <form (ngSubmit)="register()">
      <div class="mb-3">
        <input 
          type="email" 
          class="form-control" 
          placeholder="Email" 
          required 
          [(ngModel)]="email" 
          name="email">
      </div>
      <div class="mb-3">
        <input 
          type="password" 
          class="form-control" 
          placeholder="Senha" 
          required 
          [(ngModel)]="password" 
          name="password">
      </div>
      <button type="submit" class="btn btn-primary w-100">Registrar</button>
    </form>

    <div class="text-center mt-3">
      <a href="/login" class="text-decoration-none">Já tem uma conta? <strong>Login</strong></a>
    </div>
  </div>
</div>
