<div class="register-container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4 register-card">
      <div class="text-center m-2">
        <img src="logo.svg" alt="" />
      </div>
      <h2 class="text-center">Cadastro</h2>
      <form>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Username" required>
        </div>
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="Email" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" placeholder="Password" required>
        </div>
        <div class="form-check mb-3">
          <input type="checkbox" class="form-check-input" id="saveDetails">
          <label class="form-check-label" for="saveDetails">Save Details</label>
        </div>
        <button type="submit" class="btn btn-primary w-100">Register</button>
      </form>
  
      <div class="text-center mt-3">
        <a href="/Login" class="text-decoration-none">Já tem uma conta? <strong>Login</strong></a>
      </div>
    </div>
  </div>
  